.bubble {
  background-color: white;
  text-align: center;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  min-width: 80px;
  -webkit-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
  border-radius: 10px;

  &.correct {
    color: black;
    display: inline-block;

    i {
      color: green;
    }
  }
}


.bubble-input-word {
  display: block;
  text-align: center;
  font-size: 0.6em;

  .bubble-input {
  font-size: 1em;
  margin-left: 10px;
  color: gray;
  display: block;
  }
}

.bubble-checkbox[type=checkbox] {
  margin-right: 10px;
}



.correct-container {
  display: inline-block;
};

.bubble.drag:hover {
  cursor: move;
}

[ng-drop].drag-enter {
  background-color: $palette4;
}

[ng-drag].dragging {
  background-color: $palette2;
}
