.btn-default {
  border-color: $palette2;
  color: $palette2;
  background-color: white;
  line-height: 1.5em;

  > i {
  	font-size: 1.5em;
  }
}

.btn.btn.social {
	padding: 15px;
	color: white;

	> i {
		font-size: 28px;
		margin-right: 10px;
		display: inline-block;
	}

	&.btn-facebook {
		background-color: #3B5998;
	}

	&.btn-twitter {
		background-color: #55ACEE;
	}

	&.btn-google-plus {
		background-color: #DD4B39;
	}
}