#hearts {
  color: red;
  text-align: center;
}

.heart {
  margin: 5px;
}

.list-group {
  text-align: left;
}

.help {
	font-size: 25px;
}

.help:hover {
	cursor: pointer;
}

.help-dialog {
	padding: 10px;
	> h1 {
		color: $palette2;
	}

	> h2 {
		color: $palette3;
	}
}
