#hearts {
  color: red;
  text-align: center;
}

.heart {
  margin: 5px;
}

.list-group {
  text-align: left;
}

.game-info {
	text-align: center;
	margin: 0 auto 0 auto;
	color: black;
}

.help {
	font-size: 25px;
	background-color: $palette1;
	padding: 10px;
	width: 80%;
	text-align: center;
}

.help:hover {
	cursor: pointer;
	color: white;
	background-color: $palette3;
}

.help-dialog {
	padding: 10px;
	> h1 {
		color: $palette2;
	}

	> h2 {
		color: $palette3;
	}
}
