.panel {
  border-width: 3px;
  color: #333;
}

.panel-heading {
  font-size: 1.5em;
}

.panel.panel-login {
  border: 3px solid $palette2;
  color: $palette2;
}
.panel.panel-login > .panel-heading {
  background-color: $palette2;
  color: white;
}

.panel.panel-warning {
  border-color: $palette3;

  .panel-heading {
    background-color: $palette3;
  }
}

.panel.panel-danger {
  border-color: $palette1;

  .panel-heading {
    background-color: $palette1;
  }
}

.panel-words {
  background-color: rgba(255,255,255,0.5);
  border: none;
  border-radius: 10px;
  text-align: center;
  width: 100%;
}

.panel-words > .panel-heading {
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 1em;
}

.panel-words > .panel-body {
  font-size: 1.7em;
}


.panel-words > .panel-footer {
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
