<% include ../header.html %>
<script src="dependencies/modernizr.custom.js"></script>
<script src="dependencies/draggabilly.pkgd.min.js"></script>
<script src="dependencies/dragdrop.js"></script>
<div id="main-content" class="container">
  <span class="row">
    <h3>Nivel: 1</h3>
    <h2 id="hearts">
      <i class="fa fa-heart"></i>
      <i class="fa fa-heart"></i>
      <i class="fa fa-heart"></i>
    </h2>
  </span>
  <div class="row">
    <div class="col-lg-3">
      <section id="grid" class="grid clearfix">
      </section>
    </div>
    <div class="col-lg-9">
      <section id="drop-area" class="drop-area">
      </section>
    </div>
  </div>
</div>
<div class="md-modal md-effect-16" id="modal-16">
</div>
<% include ../footer.html %>
