@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FingerPaint';
    src: url('../fonts/FingerPaint-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
