/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 body {
      background-color: $body-background
 }
body.main-page {
  // background: url('../images/bubbles.jpg') no-repeat center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;

}

.navbar {
  background-color: $main-top-navbar;
  border: none;
}

.navbar-toggle {
  border: none;
}

.navbar-brand.main-tittle {
  font-family: 'FingerPaint';
  color: $main-top-navbar-ul;
}

ul.nav.navbar-nav > li > a {
  color: $main-top-navbar-ul;
}

.info {
  text-align: center;
}

.progress {
  border: none;
  margin: 10px;
  border-radius: 50px;
  background-color: #007AA3;
}

.progress-bar {
  border-radius: 50px;
}


/* Images */
.progress-logo {
  width: 70px;
}

.progress-logo-big {
  width: 100px;
}

.progress-logo-small {
  width: 50px;
}

.main-logo {
  width: 200px;
  -webkit-box-shadow: 0px 0px 38px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 38px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 38px -2px rgba(0,0,0,0.75);
}

.star {
  display: inline-block;
  margin: 5px;
}

.btn-social {
  margin: 10px 0;
  display: block;
  max-width: 350px;
}

.row.centered {
  margin: 0 auto 0 auto;
  width: 100%;
}

.social-icon {
  font-size: 60px;
  color: $palette2;
}

/*!
* Start Bootstrap - One Page Wonder HTML Template (http://startbootstrap.com)
* Code licensed under the Apache License v2.0.
* For details, see http://www.apache.org/licenses/LICENSE-2.0.
*/

.header-image {
  display: block;
  width: 100%;
  text-align: center;
  background: transparent;
}

.headline {
  padding: 120px 0;
  /*background: rgba(255,255,255,0.6);*/
}

.headline h1 {
  font-size: 90px;
  font-family: 'FingerPaint';
  color: $h1-color;
  text-shadow: 2px 0px gray;
}

.headline h2 {
  font-size: 60px;
  font-family: 'FingerPaint';
  color: $h2-color;
  text-shadow: 2px 0px gray;
}

.main-info {
  min-width: 100%;
  padding: 50px 100px;
  background-color: white;
  color: $palette2;
}

.featurette-image.pull-left {
  margin-right: 40px;
}

.featurette-image.pull-right {
  margin-left: 40px;
}

.featurette-heading {
  font-size: 50px;
}

.img-info {
  width: 150px;
  margin: 0 auto 0 auto;
}

fieldset {
  border: none;
}

footer {
  margin: 50px 0;
  background-color: $palette2;
  color: white;
  min-width: 100%;
  margin: 0px 0px;
  padding: 50px 100px;
}

@media(max-width:1200px) {
  .headline h1 {
    font-size: 140px;
  }

  .headline h2 {
    font-size: 63px;
  }

  .featurette-divider {
    margin: 50px 0;
  }

  .featurette-image.pull-left {
    margin-right: 20px;
  }

  .featurette-image.pull-right {
    margin-left: 20px;
  }

  .featurette-heading {
    font-size: 35px;
  }
}

@media(max-width:991px) {
  .headline h1 {
    font-size: 105px;
  }

  .headline h2 {
    font-size: 50px;
  }

  .featurette-divider {
    margin: 0px 40px;
  }

  .featurette-image {
    max-width: 50%;
  }

  .featurette-image.pull-left {
    margin-right: 10px;
  }

  .featurette-image.pull-right {
    margin-left: 10px;
  }

  .featurette-heading {
    font-size: 30px;
  }
}

@media(max-width:768px) {
  .featurette-divider {
    margin: 40px 0;
  }

  .featurette-heading {
    font-size: 25px;
  }
}

@media(max-width:668px) {
  .headline h1 {
    font-size: 70px;
  }

  .headline h2 {
    font-size: 32px;
  }

  .featurette-divider {
    margin: 30px 0;
  }
}

@media(max-width:640px) {
  .headline {
    padding: 75px 0 25px 0;
  }

  .headline h1 {
    font-size: 60px;
  }

  .headline h2 {
    font-size: 30px;
  }
}

@media(max-width:375px) {
  .featurette-divider {
    margin: 10px 0;
  }

  .featurette-image {
    max-width: 100%;
  }

  .featurette-image.pull-left {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .featurette-image.pull-right {
    margin-bottom: 10px;
    margin-left: 0;
  }
}
