<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Playlingua</title>

	<link href="assets/bower_components/css/font-awesome.css" rel="stylesheet">
	<link href="assets/dependencies/styles/dependencies.css" rel="stylesheet">
	<link href="assets/styles/style.css" rel="stylesheet">
	<link href="assets/styles/main.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>

	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Menu</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand main-tittle" href="/">Playlingua</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li>
						<a href="#about">¿Qué es Playlingua?</a>
					</li>
					<li>
						<a href="/signup">Crear cuenta</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="/login" class="navbar-brand"><i class="fa fa-sign-in"></i> Entrar</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>
	<!-- Full Width Image Header -->
		<div class="headline">
	<!-- Page Content -->
	<div class="container">
		<div class="row centered">
			<div class="col-md-12">
				<div class="panel panel-login">
					<div class="panel-heading">Crear una nueva cuenta</div>
					<div class="panel-body">
						<form action="/signup" method="post" class="form-horizontal">
							<fieldset>
							<% if (message.length > 0) { %>
								<div class="alert alert-warning"><%= message %></div>
							<% } %>

							<div class="form-group">
								<div class="col-lg-12">
									<label>Nombre de usuario</label>
									<input class="form-control" type="text" tabindex="1" name="username" required>
								</div>
							</div>

							<div class="form-group">
								<div class="col-lg-12">
									<label>Email</label>
									<input class="form-control" type="text" tabindex="1" name="email" required>
								</div>
							</div>

							<div class="form-group">
								<div class="col-lg-12">
									<label>Contraseña</label>
									<input class="form-control" type="password" tabindex="2"  name="password" required>
								</div>
							</div>

							<div class="form-group">
								<div class="col-lg-12">
									<input type="button" class="btn btn-default" value="¿Ya estás registrado?"  onClick="parent.location='/login'">
									<input type="submit" class="btn btn-success" value="Crear cuenta">
								</div>
							</div>
							</fieldset>
							<a class="btn btn-social btn-facebook" href="/auth/facebook">
								<i class="fa fa-twitter"></i>Regístrate con Facebook
							</a>
							<a class="btn btn-social btn-twitter" href="/auth/twitter">
								<i class="fa fa-facebook"></i>Regístrate con Twitter
							</a>
							<a class="btn btn-social btn-google-plus" href="/auth/google">
								<i class="fa fa-google"></i>Regístrate con Google+
							</a>
						</form>
					</div>
				</div>
		</div>
	</div>
</div>
</div>
	</div>
	<script src="assets/bower_components/js/vendor/jquery.js"></script>
	<script src="assets/dependencies/scripts/dependencies.js"></script>
</body>
</html>



<!-- <!doctype html>
<html>
<head>
	<title>Knoldus Login Form</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/structure.css">

</head>
<body>

<form action="/signup" method="post" class="box login">
	<fieldset class="boxBody">
	<% if (message.length > 0) { %>
		<div class="alert alert-message"><%= message %></div>
	<% } %>
	<label>Name</label>
	  <input type="text" tabindex="1" placeholder="Enter Your Name" name="username" required>
	  <label>Email</label>
	  <input type="text" tabindex="1" placeholder="Enter Your Email Address" name="email" required>
 	<label>Password</label>
	  <input type="password" tabindex="2"  name="password" required>
	</fieldset>
	<footer>
	<input TYPE="button"class="btnLogin" value="Login"  onClick="parent.location='/login'">
	  <input type="submit" class="btnLogin" value="SignUp" tabindex="1">
	</footer>

</form>

</body>
</html> -->
