<% include header.html %>
<div id="main-content" class="container">
	<div class="row">
		<div class="col-lg-3">
			<div class="panel panel-info info">
				<div class="panel-body">
					<h4>Hola, <%= user.user.username %></h4>
				</div>
			</div>
			<div class="panel panel-danger info">
				<div class="panel-heading">Reto semanal</div>
				<div class="panel-body">
					<img src="css/icons/unlocked.png" class="progress-logo-small"/>
					<img src="css/icons/unlocked.png" class="progress-logo-small"/>
					<img src="css/icons/locked.png" class="progress-logo-small"/>
				</div>
			</div>
			<div class="panel panel-warning info">
				<div class="panel-heading">Trofeos</div>
				<div class="panel-body">
					<h4>¡Máquina en Sinónimos!</h4>
					<img src="css/icons/trophy.png" class="progress-logo"/>
				</div>
			</div>
			<div class="panel panel-success info">
				<div class="panel-heading">Estrellas</div>
				<div class="panel-body">
					<img src="css/icons/star.png" class="progress-logo-small"/>
					<img src="css/icons/star.png" class="progress-logo-small"/>
					<img src="css/icons/star.png" class="progress-logo-small"/>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading info">Tus amigos</div>
				<div class="panel-body">
					<ul>
						<li>Elena</li>
						<li>Álvaro</li>
						<li>Kiko</li>
						<li>Laura</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-9">
			<div class="panel panel-info info">
				<div class="panel-heading">Progreso de Juego</div>
				<div class="panel-body">
					<a href="/synonyms"><h1>Sinónimos</h1></a>
					<img src="css/icons/polaroids.png" class="progress-logo-big"/>
					<div class="row">
						<div class="col-md-4">
							<h3>Nivel 1</h3>
							<img src="css/icons/unicycle.png" class="progress-logo"/>
							<div class="progress progress-striped">
								<div class="progress-bar progress-bar-info" style="width: 80%"></div>
							</div>
						</div>
						<div class="col-md-4">
							<h3>Nivel 2</h3>
							<img src="css/icons/bike.png" class="progress-logo"/>
							<div class="progress progress-striped">
								<div class="progress-bar progress-bar-info" style="width: 50%"></div>
							</div>
						</div>
						<div class="col-md-4">
							<h3>Nivel 3</h3>
							<img src="css/icons/motorcycle.png" class="progress-logo"/>
							<div class="progress progress-striped">
								<div class="progress-bar progress-bar-info" style="width: 10%"></div>
							</div>
						</div>
					</div>
					<hr/>
					<h1>Definición</h1>
					<img src="css/icons/bookshelf.png" class="progress-logo-big"/>
					<div class="row">
						<div class="col-md-4">
							<h3>Nivel 1</h3>
							<img src="css/icons/plane.png" class="progress-logo"/>

							<div class="progress progress-striped">
								<div class="progress-bar progress-bar-info" style="width: 90%"></div>
							</div>
						</div>
						<div class="col-md-4">
							<h3>Nivel 2</h3>
							<img src="css/icons/rocket.png" class="progress-logo"/>
							<div class="progress progress-striped">
								<div class="progress-bar progress-bar-info" style="width: 70%"></div>
							</div>
						</div>
						<div class="col-md-4">
							<h3>Nivel 3</h3>
							<img src="css/icons/spaceshuttle.png" class="progress-logo"/>
							<div class="progress progress-striped">
								<div class="progress-bar progress-bar-info" style="width: 30%"></div>
							</div>
						</div>
					</div>
					<hr/>
					<h1>Verbos</h1>
					<img src="css/icons/clock.png" class="progress-logo-big"/>
					<div class="row">
						<div class="col-md-4">
							<h3>Nivel 1</h3>
							<img src="css/icons/anchor.png" class="progress-logo"/>
							<div class="progress progress-striped">
								<div class="progress-bar progress-bar-info" style="width: 85%"></div>
							</div>
						</div>
						<div class="col-md-4">
							<h3>Nivel 2</h3>
							<img src="css/icons/cruise.png" class="progress-logo"/>
							<div class="progress progress-striped">
								<div class="progress-bar progress-bar-info" style="width: 50%"></div>
							</div>
						</div>
						<div class="col-md-4">
							<h3>Nivel 3</h3>
							<img src="css/icons/submarine.png" class="progress-logo"/>
							<div class="progress progress-striped">
								<div class="progress-bar progress-bar-info" style="width: 5%"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% include footer.html %>
